@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  * {
    @apply my-0 my-0 py-0 px-0
  }

  body {
    @apply bg-zinc-200 text-black font-roboto w-full
  }

  .outlineText {
    font-weight: bold;
    text-transform: uppercase;
    color: #d8fce0e8;
    -webkit-text-stroke-color: #d8fce0e8;
    opacity: 1;
    color: transparent !important;
    -webkit-text-stroke-width: 1px;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
  }
}