@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  * {
    @apply my-0 my-0 py-0 px-0
  }

  body {
    @apply bg-zinc-200 text-black font-roboto w-full
  }

  .outlineText {
    font-weight: bold;
    text-transform: uppercase;
    color: #c6fad1e8;
    -webkit-text-stroke-color: #c6fad1e8;
    opacity: 1;
    color: transparent !important;
    -webkit-text-stroke-width: 1px;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
  }

  .outlineText-White {
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    -webkit-text-stroke-color: #ffffff;
    opacity: 1;
    color: transparent !important;
    -webkit-text-stroke-width: 1px;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
  }

  .home_feature {
    background-image: url('../assets/images/home_feature.png');
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
  }
}